@media screen and (max-width: 800px) {
    .toprofil {
        background-image: url(bgres.gif);       
        background-size: cover;
        background-attachment: fixed;
        min-height: 1000px;
        height: 8750px;
        justify-content: center;
        align-items: center;
    }
    
    .box {
        margin-top: -50px;
        margin: 0;
        border: solid 2px #ffffff;
        background-color: rgba(0, 0, 0, 0.712);
        backdrop-filter: blur(2px);
        box-shadow: 0px 0px 10px 0px rgb(0, 255, 247), inset 0px 0px 10px 2px rgb(0, 255, 234);
        border-radius: 2%;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        padding-bottom: 10%;
        margin-bottom: 5%;
    }

    .space {
        width: 5px;
    }
    
    .pfp {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .pfp > img {
        width: 150px;
        height: 150px;
        border-radius: 20%;
        border: 5px solid white;
        transition: all 0.8s ease-in-out;
        box-shadow: 0px 0px 20px 0px rgb(250, 232, 129);
    }
    .pfp :hover {
        box-shadow: 0, 100px, 100px, 0 rgba(255, 0, 0, 0.5);
        border-radius: 90%;
        border: 5px solid white;
    
    }

    .img-achivement {
        display: block;
        justify-content: center;
        align-items: center;
        width: 250px;
    }
    
    .textpfp>h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        font-size: 30px;
    }
    
    .textpfp>i {
        justify-content: center;
        align-items: center;
        color: aliceblue;
        font-size: 11px;
        font-weight: 500;
    }
    
    .pfpp>p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: aliceblue;
        margin-bottom: 9% ;
        font-size: 10px;
        margin-top: 2%;
    }
    
    .btg {
        color: chocolate;
    }
    
    .contact {
        list-style-type: none;
        padding-bottom: 10px;
        display: block;
        justify-content: center;
        align-items: center; 
        padding-top: 10px;
        text-decoration: none;
    }
    
    .kontak, .about {
        text-decoration: none;
        width: 9px;
    }
    
    .kontak>h1 {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.778);
        text-decoration: none;
        font-size: 15px;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        color: #e2ba2b;
        border-radius: 100px;
        border: 2px solid #ffe27b;
        margin: 20px;
        margin-top: 0;
        box-shadow: 0px 0px 10px 0px rgb(226, 186, 43);
        transition: all 0.2s ease-in-out;
    }
    
    .about>h1 {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.785);
        list-style-type: none;
        text-decoration: none;
        font-size: 15px;
        padding-left: 85px;
        padding-right: 85px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        color: aqua;
        border-radius: 100px;
        border: 2px solid rgb(91, 255, 255);
        margin: 20px;
        margin-top: 0;
        box-shadow: 0px 0px 10px 0px aqua;
        transition: all 0.2s ease-in-out;
    }
    
    .about :hover {
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        list-style-type: none;
        text-decoration: none;
        font-size: 15px;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        color: aqua;
        border-radius: 8px;
        border: 2px solid aqua;
        margin: 20px;
        margin-top: 0;
    }
    
    .kontak :hover {
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        color: #e2ba2b;
        border-radius: 8px;
        border: 2px solid #e2ba2b;
        margin: 20px;
        margin-top: 0; 
    }
    
    
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
    }
    
    .ic {
        padding: 10px;
        font-size: 18px;
        margin-right: 15px;
        margin-left: 15px;
        border-radius: 20%;
        transition: all 0.3s ease-in-out;
        margin-bottom: 60px;
        color: aqua;
        border: 2px solid #ffedac;
        box-shadow: 0px 0px 10px 2px #e2ba2b;
        /* background-color: #00000010;
        backdrop-filter: blur(0px); */
    }
    
    .ic:hover {
        background-color: rgb(25, 25, 25);
        padding: 10px;
        font-size: 20px;
        margin-right: 50px;
        margin-left: 50px;
        border-radius: 30%;
        box-shadow: 0px 0px 10px 2px aqua;
        color: #ffd84b;
        border: 2px solid aqua;
    }
    
    .tentang {
        height: 8050px;
        margin: 0;
    }
    
    .tentangku {
        color: aliceblue;
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 200px;
        padding-bottom: 100px;
    }
    
    .textabout, .achive{
        width: 100%;
    }

    .achivement {
        color: aliceblue;
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 200px;
        padding-bottom: 100px;
    }

    
    .textabout>p {
        text-align: center; 
        font-size: 16px; 
        word-spacing: 3px;
        margin: 20px;
    }

    .achive>p {
        text-align: center; 
        font-size: 16px; 
        word-spacing: 3px;
        margin: 20px;
    }

    .img-achivement>img {
        display: flex;
        width: 48%;
        margin: 4%;
        padding: 5%;
    }

    .img-achivement {
        display: flex;
        width: 100%;

    }
    
    .tentangku>img {
        width: 80%;
        margin-left: 10%;
        border: 2px solid white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgb(250, 232, 129);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .textabout>h1 {
        color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .achive>h1 {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .textabout {
        margin-left: 0px;
    }
    
    
    .hubme>li>a>span>i {
        color: white;
    }
    
    .hubme>li>a {
        text-decoration: none;
        list-style-type: none;
        color: aqua;
        font-family: cursive;
    }
    
    .hubme>li {
        text-decoration: none;
        list-style-type: none;
    }
    
    .tools {
        background-color: rgba(0, 0, 0, 0.938);
        backdrop-filter: blur(px);
        height: 250000px;
        padding-top: 50px;
        align-items: center;
    }
    
    .tool>h1, .pengalaman>h1, .tnt>h1 {
        color: rgb(255, 255, 255);
        padding: 20px;
        padding-bottom: 9px;
        border-bottom: solid 2px rgb(163, 230, 247);
        width: 70%;
        padding-left: 0;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    .tool>li, .pengalaman>li, .tnt>li {
        color: rgb(255, 255, 255);
        /* list-style-type: none; */
        padding-left: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .bluetxt {
        color: aqua;
        list-style-type: none;
        text-decoration: none;
    }
    
    .tool {
        margin-top: 50px;
        width: 95%;
        margin-left: 0;
        height: 200px;
        font-size: 12px;
        transition: all 0.3s ease-in-out;
        border-radius: 3px;
        border: solid 2px #0b0b0b;
        background-color: rgb(24, 26, 28);
        box-shadow: 0px 0px 5px 2px rgb(163, 230, 247), inset 0px 0px 5px 2px #000;
    }
    
    .tool:hover {
        margin-top: 50px;
        width: 95%;
        margin-left: 10px;
        height: 200px;
        border-radius: 3px;
        background-color: rgb(37, 39, 44);
        box-shadow: 0px 0px 5px 5px rgb(163, 230, 247);
        transition: all 0.3s ease-in-out;
        font-size: 12px;
    }
    
    .tnt {
        margin-top: -50px;
        margin-bottom: 120px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: rgb(27, 27, 27);
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgb(163, 230, 247);
        transition: all 0.3s ease-in-out;
        font-size: 20px;
        justify-content: center;
    }
    
    
    .mywork {
        /* background-image: url(/img/OIG4.jpeg); */
        background-color: rgba(0, 0, 0, 0.693);
        backdrop-filter: blur(5px);
        background-size: cover;
        background-attachment: fixed;
        min-height: 100px;
        height: 2800px;
        
        padding-top: 20px;
    }
    
    .line {
        border: solid 1px #ffffff;
        margin-top: 140px;
        box-shadow: 0px 0px 5px 01px #00ffff;
    }
    
    .kemampuan {
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
        width: 95%;
        margin-top: 300px;
    }
    
    
    .textkemampuan>h2 {
        color: aqua;
        font-size: 30px;
    }
    
    .textkemampuan>p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
    }
    
    .textkemampuan>li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px
    }
    
    .act_1 {
        display: block;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    
    .act_2 {
        width: 95%;
        display: block;
        justify-content: center;
        align-items: center;

        height: 200px;
    }
    
    
    .pengalaman {
        margin-top: 50px;
        width: 95%;
        height: 450px;
        border-radius: 3px;
        border: solid 2px #0b0b0b;
        background-color: rgb(24, 26, 28);
        box-shadow: 0px 0px 5px 2px rgb(163, 230, 247), inset 0px 0px 5px 2px #000;
        font-size: 10px;
        transition: all 0.3s ease-in-out;
    }
    
    .pengalaman:hover {
        background-color: rgb(37, 39, 44);
        box-shadow: 0px 0px 5px 5px rgb(163, 230, 247);
        font-size: 10px;
    
    }
    
    .pengalaman>a>h1, .pmn>a>h1      {
        margin-left: 30px;
        text-decoration: none;
        list-style-type: none;
        color: #00ffff;
        padding-bottom: 10px;
    }
    
    .med {
        background-color: rgb(255, 255, 255);
        padding: 15px;
        color: rgb(0, 0, 0);
        font-size: 100px;
        margin-right: 26px;
        margin-left: 20px;
        border-radius: 18%;
        border: 2px solid white;
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 0px 10px 0px rgb(163, 230, 247);
        height: 150px;
        width: 155px;
        align-items: center;
        margin-top: 26px;
        padding-top: 20px;
    }
    
    .pengalaman>p, .pmn>p {
        padding-left: 30px;
        color: #ffffff;
        font-size: 15px;
        font-family: cursive;
    }
    
    .aktivitas>h1 {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #00ffff;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 100;
    }
    
    .aktivitas {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .r {
        width: 100%;
    }
    
    .s {
        width: 10px;
    }

    .hd {
        visibility: hidden;
    }
    
    .tp{
        margin-top: -1200px;
    }
    .tp:hover{
        margin-top: -1200px;
    }

    .tp_2{
        margin-top: -300px;
    }
    .tp_2:hover{
        margin-top: -300px;
    }

    .nh {
        margin-top: 65px;
    }
    
    .nh:hover {
        margin-top: 65px;
    }

    .hdpc {
        visibility: unset;
    }

    .act_2 {
        width: 95%;
    }

    .pengalaman>img {
        height: 150px;
        width: 100px;
        border-radius: 25%;
        margin-bottom: -20px;
        margin-top: 28px;
        border-radius: 18%;
        margin-left: 26px;
        margin-bottom: 5px;
    }
    
    .contact-from>h1 {
        display: flex;
        justify-content: center;
        color: #00ffff;
        font-size: 30px;
        background-color: #27272700;
        border: solid 2px #00ffff;
        width: 200px;
        border-radius: 20px;
    }
    
    .contact-from {
        MARGIN-top: 0px;
        display: flex;
        justify-content: center;
    }
}
